.imageCarousel {
    object-fit: fill;
    height: 250px;
    width: 1260px;
}
/* fill works nice,scale-down does too, cover is shit */
.slider {
    background-color: #333333;
}


.navbar{
    background-color: '#36B461'
  }

#basic-nav-dropdown{
    font-family: 'Nunito';
    color: white;
}
  