
.App {
  background-image: url("./images/lightgreen.png");
  width: 100%;
  height: 100%;
  margin: 1;
  font-family: 'Nunito';
}
.header{
  font-weight:bolder;
  font-family: 'Nunito';
}

.retText{
  text-align: center;
  color: #36b461;
  background-color: #efefef;
  border-style: groove;
  margin-bottom: 30px;
  border-width: 8px;
  vertical-align: center;
  margin-top: 30px;
}


.container{
  display: flex;
  align-items: baseline;
  flex-direction: row;
  align-content: space-between;
}
.cards{
  height:auto;
  width:auto; 
  margin:auto;
}